@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;900&display=swap');
@import "@fontsource/poppins/400.css";
@import "@fontsource/poppins/700.css";
@import "@fontsource/poppins/900.css";

/* Reset mặc định & set font */
html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Nunito', sans-serif; /* font custom */
}

/* Tailwind apply */
body {
  @apply font-sans;
}

/* Xử lý scroll (nếu cần Hero 100vh không có trượt ngang) */
body {
  overflow-x: hidden;
}
.perspective {
  perspective: 1000px;
}

.transform-style-preserve-3d {
  transform-style: preserve-3d;
}

.backface-hidden {
  backface-visibility: hidden;
}

.rotate-y-180 {
  transform: rotateY(180deg);
}

