server:
  port: ${PORT:8080}
  address: 0.0.0.0
  servlet:
    context-path: /fapanese

spring:
  datasource:
    url: jdbc:mysql://${MYSQL_HOST}:${MYSQL_PORT}/${MYSQL_DATABASE}
    username: ${MYSQL_USER}
    password: ${MYSQL_PASSWORD}

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

  mail:
    host: smtp.gmail.com
    port: 587
    username: ${MAIL_USERNAME}
    password: ${MAIL_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
          debug: true

  servlet:
    multipart:
      max-file-size: 30MB
      max-request-size: 30MB

jwt:
  signerKey: ${JWT_SIGNER_KEY}
  valid-duration:  3600 # in second
  refreshable-duration: 36000 # in seconds

springdoc:
  swagger-ui:
    path: /swagger-ui.html
  api-docs:
    path: /v3/api-docs

cloudinary:
  cloud-name: ${CLOUDINARY_CLOUD_NAME}
  api-key: ${CLOUDINARY_API_KEY}
  api-secret: ${CLOUDINARY_API_SECRET}

azure:
  speech:
    key: ${AZURE_SPEECH_KEY}
    region: ${AZURE_SPEECH_REGION}
  openai:
    endpoint: ${AZURE_OPENAI_ENDPOINT}
    key: ${AZURE_OPENAI_KEY}
    deployment-name: ${AZURE_OPENAI_DEPLOYMENT}

admin-account:
  email: ${FAPANESE_ADMIN_EMAIL}
  password: ${FAPANESE_ADMIN_PASSWORD}


logging:
  level:
    org.springframework.security: DEBUG